@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Edu+NSW+ACT+Foundation&family=Figtree:wght@400;600&family=Quicksand:wght@400;700&family=Sacramento&display=swap');


$font-primary: "Quicksand";



$color-primary: #001D38;
$color-secondary: #232F55;
$color-white: #ffff;
$color-white1: #E8E8E8;
$color-blue: #5DB2FF;
$color-green: green;
$bg-gradient: linear-gradient(to right, #00095e 0%, #0c0c1f 100%);
$btn-gradient: linear-gradient(to bottom, #0181f5 0%, rgba(93, 178, 255, 0.99) 100%);
$btn-pink: linear-gradient(to bottom, #ff4495 0%, #ff6d6d 100%);


$screen-md: 767px;
$screen-xl: 1200px;
$screen-2xl: 1400px;
$screen-3xl: 1600px;